@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:regular);
html, body {
  height: 100vw;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__logo:hover {
  opacity: 0.8;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px solid #f0b922;
}

.navigation__link {
  padding: 0 45px;
  font-weight: 400;
  color: #f0b922;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation__link:hover {
  background-color: #f0b922;
  color: #262626;
}

.humburger {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  margin: 50px auto;
}
.humburger span {
  height: 3px;
  background-color: #f0b922;
}
.humburger:before, .humburger:after {
  content: "";
  background-color: #f0b922;
  height: 3px;
}

.party__section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.table__party {
  border: 10px solid #f0b922;
  background-color: #f0b922;
}

.frame__title {
  text-transform: uppercase;
  border-bottom: 2px solid #f0b922;
  padding: 10px 30px;
  background-color: #f0b922;
  text-align: center;
}
.frame__text {
  overflow: hidden;
  border: 5px solid #f0b922;
  text-align: center;
}

.party__text {
  font: 300 2.0138888889vw/74.5px;
  padding-top: 50px;
}

.left__image,
.right__image {
  position: absolute;
  max-width: 24%;
  top: -2%;
}

.left__image {
  left: -25%;
}

.right__image {
  left: 75%;
}

.border-section {
  border-bottom: 60px solid #262626;
}

.menu__section {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__list-items {
  padding: 20px 50px;
  width: 33.333%;
}
.menu__cards-itemes {
  border: 2px solid #f0b922;
  margin-bottom: 50px;
}
.menu__cards-title {
  padding: 10px 20px;
  background-color: #f0b922;
}
.menu__cards-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.5972222222vw;
}

.discount__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}

.discount__image {
  margin-left: 80px;
}

.discount {
  text-align: right;
  padding-right: 100px;
  padding-top: 100px;
}
.discount__bodytext {
  padding-bottom: 20px;
  color: #f0b922;
  font-size: 2.9861111111vw;
}
.discount__logo {
  margin-bottom: 30px;
}

.dicount__button {
  border: 4px solid #f0b922;
  padding: 0 40px;
  margin-bottom: 100px;
  background-color: #f0b922;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dicount__button:hover {
  background-color: #fff;
}
.dicount__button a {
  color: #262626;
  font-family: "Fjalla One";
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dicount__button a:hover {
  color: #f0b922;
}

.special__section {
  position: relative;
  min-height: 950px;
  border-bottom-width: 180px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 0 50px;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px 80px 0;
}
.special__dish {
  text-align: center;
  padding: 40px;
  font-size: 2.9861111111vw;
}
.special__bodytext {
  width: 605px;
  overflow: hidden;
  margin-left: 80px;
}

.special__images {
  position: absolute;
  margin: -100px 0 0 0;
}

.method__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 200px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
}

.method {
  padding-top: 200px;
}
.method__bodytext {
  width: 500px;
  overflow: hidden;
  padding: 10px 40px;
}
.method__image {
  margin-left: -110px;
}

.music__section {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}

.music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.music__title {
  font-size: 59px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.music__bodytext {
  font-size: 4.0277777778vw;
  line-height: 79.6px;
  text-align: center;
  letter-spacing: 0.3px;
  padding: 40px 60px;
}
.music__right-text {
  width: 50%;
  font-size: 2.9861111111vw;
  text-align: left;
  letter-spacing: 0.19px;
  padding-top: 50px;
}
.music__images {
  margin-left: -30px;
  margin-bottom: -50px;
}

.footer__container {
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.footer__logo {
  margin: 0 auto;
}
.footer__logo:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__title {
  text-shadow: 3px 17px 31px rgba(0, 0, 0, 0.78);
  color: #f0b922;
  font-family: "Fjalla One";
  font-size: 3.125vw;
  text-align: center;
  letter-spacing: 0.4px;
  padding: 20px 0 50px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}
.footer__frame-title {
  text-align: center;
}
.footer__textbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -200px;
}
.footer__list-left {
  padding-right: 150px;
}
.footer__link {
  color: #fff;
  line-height: 62.5px;
  text-align: left;
}
.footer__link:hover {
  color: #f0b922;
  text-decoration: underline;
}

.footer__frame-title {
  color: #262626;
  font-size: 2.5vw;
  text-shadow: none;
}

.frame__text {
  text-align: center;
  padding: 10px 20px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
}
.icons-item {
  padding-left: 20px;
}
.icons-link {
  color: #f0b922;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.icons-link:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  [class*=__container] {
    max-width: 1024px;
  }
  .navigation__link {
    padding: 7px 20px;
    font-size: 1.5972222222vw;
  }
  .party__content {
    padding: 130px 0 80px 0;
    margin-left: 250px;
    padding: 175px 0;
  }
  .left__image {
    left: -40%;
  }
  .right__image {
    left: 75%;
  }
  .party__title {
    font-size: 2.0138888889vw;
  }
  .party__time {
    font-size: 2.0138888889vw;
  }
  .party__text {
    font-size: 2.0138888889vw;
  }
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__list-items {
    width: 45%;
  }
  .menu__list-items:last-child {
    margin: 0 auto;
  }
  .menu__cards-title {
    font-size: 2.0138888889vw;
  }
  .discount__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .discount__image {
    margin: auto;
  }
  .discount__text {
    text-align: center;
    padding: 0 100px 0 0;
  }
  .discount__bodytext {
    padding-bottom: 20px;
  }
  .discount__button {
    border: 4px solid #f0b922;
    padding: 0 40px;
    margin-bottom: 100px;
  }
  .discount__logo {
    margin-bottom: 20px;
  }
  .discount__title {
    text-shadow: 1px 8px 16px rgba(0, 0, 0, 0.78);
    margin-bottom: 50px;
    color: #f0b922;
  }
  .special__section {
    overflow: hidden;
  }
  .special {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 200px;
    z-index: 99;
  }
  .special__title {
    font-size: 2.9861111111vw;
  }
  .special__dish {
    text-align: center;
    font-size: 2.9861111111vw;
  }
  .special__bodytext {
    width: 500px;
    overflow: hidden;
    padding-top: 50px;
    font-size: 2.0138888889vw;
  }
  .special__images {
    margin: -230px 0 0 -250px;
    position: absolute;
  }
  .method__section {
    padding-top: 100px;
  }
  .method__image {
    margin-left: -350px;
  }
  .music {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
  }
  .music__right-text {
    text-align: center;
  }
  .music__images {
    margin-bottom: -180px;
  }
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
  }
  .footer__contact {
    padding: 0 20px;
  }
  .icons-list {
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
  }
  .header__logo {
    display: none;
  }
  .navigation__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    z-index: 99;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    border: none;
  }
  .navigation__item {
    padding: 10px 0;
  }
  .humburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left__image {
    display: none;
  }
  .party__content {
    margin: 0 auto;
  }
  .party__title {
    padding: 25px 50px;
  }
  .party__time {
    padding: 20px 40px;
  }
  .right__image {
    display: none;
  }
  .party__text {
    letter-spacing: 0.3px;
    font: 300 4.375vw/74.5px;
  }
}
/*NORMALIZE.CSS*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*NORMALIZE.CSS END*/
/*RESET*/
*,
:focus {
  outline: none;
}

body {
  -webkit-fontype-smalloothing: antialiased;
}

body,
html {
  height: 100%;
  width: 100%;
}

a,
input[type=radio],
input[type=checkbox],
select {
  cursor: pointer;
}

select[disabled] {
  cursor: default;
}

/*normalization mozila*/
input:-webkit-autofill {
  background-color: transparent;
}

/*normalization ie7*/
* + html input[type=checkbox],
* + html input[type=radio] {
  width: 13px;
  height: 13px;
}

textarea {
  resize: none;
  vertical-align: top;
}

em,
i {
  font-style: italic;
}

img {
  vertical-align: top;
}

input {
  vertical-align: middle;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none outside none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  quotes: "“" "”" "‘" "’";
}

:focus {
  -moz-outline: 3px solid #fff !important;
}

input[type=radio]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0 !important;
}

input[type=checkbox]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}

/*fix button click opera old version*/
button:after {
  content: "";
}

del {
  text-decoration: line-through;
}

table {
  width: 100%;
}

form {
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*RESET END*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
  letter-spacing: 0.22px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 29px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  text-shadow: 3px 17px 31px rgba(0, 0, 0, 0.78);
  color: #fff;
  font-family: "Fjalla One";
  font-size: 4.375vw;
  letter-spacing: 0.26px;
  text-align: center;
}

h3 {
  font-size: 43px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #262626;
}

h4 {
  font-family: "Fjalla One";
  font-size: 2.3611111111vw;
  text-align: right;
  letter-spacing: 0.49px;
  color: #f0b922;
  text-shadow: 1px 8px 16px rgba(0, 0, 0, 0.78);
}

h5 {
  font-size: 2.0833333333vw;
  text-align: left;
  color: #262626;
  width: 900;
}

strong, b {
  font-weight: 700;
  font-family: "Open Sans";
}

p {
  color: #fff;
  font-size: 29px;
  letter-spacing: 0.2px;
}