$fs-xlg: 54px; 
$fs-lg: 43px;
$fs-md: 29px; 
$fs-sm: 23px;
$main-font: "Open Sans"; 
$secondary-font: "Fjalla One"; 
$color1: #fff; 
$color2: #f0b922; 
$color3: #262626;
$bgc1: #f0b922;
$bgc2: #262626;

